jvf/JVF_DTM_143_XSD/xsd/common/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="cmn" xmlns="cmn">
  <xs:element name="VerzeJVFDTM">
    <xs:annotation>
      <xs:documentation>Verze JVF DTM</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1.4.3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>  
  <xs:element name="DatumZapisu" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Datum a čas vytvoření souboru</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TypZapisu">
    <xs:annotation>
      <xs:documentation>Typ zápisu</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="kompletní zápis"/>
        <xs:enumeration value="změnové věty"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ZapisObjektu">
    <xs:annotation>
      <xs:documentation>Způsob zápisu objektu: i - insert, u - update, d - delete, r - reference</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="i"/>
        <xs:enumeration value="u"/>
        <xs:enumeration value="d"/>
        <xs:enumeration value="r"/>
        <xs:length value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
